/* Custom Scrollbar for Textarea */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 14px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--sec-bd);
    border-radius: 14px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(43, 212, 199, 0.5); /* Subtle #2BD4C7 */
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--sec-bd) transparent;
}
